<html>
<head>
<style>


body {background-color:#49A086;}

div {background-color: lightblue;}

p {background-color: pink;}

p {font-family: "Courier New", Times, serif;}

<style>

p.serif {
	font-family: "Times New Roman", Times, serif;
}

h2 {font-family: "Courier New", Times, serif;}

title {font-family: "Courier New", Times, serif;}
</style>

<h1>CSS font-family</h1>
<p class="serif">Welcome to mmarian</p>


</body>

.image{
	position: relative;
	width: 100%; 
}

h1 {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
}


<nav>




</html>
</head>
</style>